@charset "UTF-8";
body{
	background: url("https://img.freepik.com/premium-photo/top-view-desk-concept-with-copy-space_23-2148459783.jpg?size=626&ext=jpg&ga=GA1.1.1788251501.1710341282&semt=ais")no-repeat center center fixed;
	background-repeat: no-repeat;
	background-size:100%;
	text-align: left;
}